/* Imports */
/*@import "/css/circle.css";*/

/* Fonts */

@font-face {
  font-family: 'Samim';
  src: url('../fonts/Samim-FD.eot');
  src: url('../fonts/Samim-FD.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Samim-FD.woff') format('woff'),
  url('../fonts/Samim-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Samim';
  src: url('../fonts/Samim-Bold-FD.eot');
  src: url('../fonts/Samim-Bold-FD.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Samim-Bold-FD.woff') format('woff'),
  url('../fonts/Samim-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

/* Body */

body {
  background-color: #E4E4E5;
  direction: rtl;
  font-family: 'Samim', serif;
}

/* Header */

.header {
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999;
}

.info {
  padding: 10px;
  border-radius: 8px;
  background: #4C4C4D;
  color: #D4D83E;
}

.time-selector {
  display: inline-block;
  border-radius: 8px;
  background: #4C4C4D;
  color: #D4D83E;
  font-size: 20px;
  padding: 5px 5px;
}

.time-selector span:first-child {
  font-size: .7em;
}

.time-selector span {
  margin: 0 1px;
}

.time-selector:before {
  content: '\22ee';
  color: #E4E4E5;
  line-height: 120%;

}

.logo {
  z-index: 9999;
  position: absolute;
  bottom: 5px;
}

.logo img {
  opacity: 0.4;
  transition: .5s;
}

.logo img:hover {
  opacity: 1;
}

/* Static */
.static {
  cursor: default;
  /* Make text non selectable */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

/* Counter */

.counter {
  text-align: center;
  color: #E59554;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter-circle {
  border-radius: 50%;

  position: relative;

  width: 350px;
  height: 350px;
  /*min-width: 400px;*/
  /*min-height: 400px;*/
  max-width: 90vmin;
  max-height: 90vmin;

  margin-bottom: 100px;

  /*background: #333334;*/

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d3d3e+0,333334+100&0.86+0,0.8+1,1+100 */
  background: -moz-linear-gradient(-45deg, rgba(61, 61, 62, 0.86) 0%, rgba(61, 61, 62, 0.8) 1%, rgba(51, 51, 52, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(61, 61, 62, 0.86) 0%, rgba(61, 61, 62, 0.8) 1%, rgba(51, 51, 52, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(61, 61, 62, 0.86) 0%, rgba(61, 61, 62, 0.8) 1%, rgba(51, 51, 52, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db3d3d3e', endColorstr='#333334', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  border: 10px solid #E39657;

  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 110px;
}

.counter-circle p {
  line-height: 120%;
  margin: 0;
}

.counter-circle .counter-title {
  font-size: 1em;
  line-height: 70%;
}

.counter-circle .counter-subtitle {
  font-size: .4em;
}

.counter-circle .counter-desc {
  margin-top: 10px;
  font-size: .2em;
  color: #9A9A9A;
}

.counter-circle .counter-img {
  width: 200px;
  height: 200px;
  bottom: -130px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.zekr {
  width: 70%;
  background: #CECECE;
  color: #797979;
  border-radius: 6px;
  padding: 4px;
}

/* Responsive */

@media handheld,(max-device-width: 500px),(max-width: 500px),(max-device-height: 500px) {
  .counter-circle {
    width: 70vmin;
    height: 70vmin;
    max-width: 90vmin;
    max-height: 90vmin;
    font-size: 20vmin;
  }

  .footer {
    font-size: 4vw;
  }

  .counter-img {
    z-index: -10;
  }

  .info, .time-selector {
    font-size: .3rem;
  }

  .logo {
    position: static;
  }
}
